# Ignore node_modules folder
node_modules

# Ignore npm debug logs
npm-debug.log*

# Ignore environment configuration files
.env

# Ignore Docker-related files and directories
.dockerignore
Dockerfile*

# Ignore development and local setup files
.dockerignore
docker-compose.yml
docker-compose.override.yml
