name: Docker Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: github-runner

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Prune old images
      run: docker image prune -f 
      
    - name: Build Docker image
      run: docker build -t p2011/portfolio:latest .

    - name: Push Docker image to Docker Hub
      run: docker push p2011/portfolio:latest
